{% extends "base.html" %} {% block title_block %} rent List {% endblock %}
{%block body_block %}
<div class="about-us">
  <div class="car-list-title">
    <h2>About Us</h2>
  </div>
  <div class="about-text m-5">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo quo velit
      assumenda atque dicta impedit ipsum inventore rem, sequi perferendis sed.
      Ab autem, quia perspiciatis nobis non odit fugit neque. Mollitia tenetur
      odit hic eligendi ipsa impedit, quo nisi recusandae esse vitae asperiores
      vero vel veritatis accusantium debitis quae error a! Repudiandae quisquam
      rem laboriosam officia molestias nostrum quae ex, porro perspiciatis non
      illo sint assumenda est facilis, sed voluptas dolorum nemo neque id beatae
      dolorem excepturi! Eos minus, fugiat ipsa praesentium reprehenderit, quod
      labore natus neque tempora repellat, fuga temporibus nostrum? Veniam,
      dolore pariatur iure quo neque culpa assumenda autem sit provident aliquam
      aspernatur fugit ex esse natus libero beatae alias laborum doloremque et
      id consequuntur reiciendis minima. Id voluptates quam magni, temporibus
      placeat incidunt vitae. Laborum rem possimus debitis eos doloremque
      recusandae aut earum consequuntur quasi! Ipsam pariatur assumenda quos rem
      laboriosam laborum reiciendis consequuntur maiores repellat iusto. Quam
      numquam dolorem ab dolores deleniti assumenda, debitis commodi atque sed
      quod ipsum cumque aperiam quibusdam quas rem iure. Hic at deleniti atque
      similique voluptate nesciunt. A omnis reprehenderit exercitationem optio
      atque illum veniam corrupti nisi eligendi repudiandae reiciendis ducimus
      nobis repellendus veritatis debitis, quod quaerat est dolorem blanditiis
      deleniti animi cumque error enim. Veritatis doloremque quidem laboriosam
      nulla maiores modi ducimus, ratione sapiente sit eaque aspernatur, ipsam
      minima reprehenderit perspiciatis eligendi omnis exercitationem. Earum
      molestiae architecto quibusdam. Veritatis, minima! Ducimus quia corrupti
      consectetur magnam architecto tenetur earum aspernatur. Hic id eum ipsam
      voluptatibus quaerat, officiis, voluptatem tempora nesciunt porro iste
      quod fuga! Atque molestiae, incidunt itaque ut, voluptatem aliquid odit,
      aut quisquam repellat excepturi voluptates officia laborum exercitationem
      ea asperiores voluptas aliquam tempora consequatur id quod non eos.
      Incidunt reprehenderit voluptatum ipsum illo dolore dicta saepe esse aut
      iste laborum asperiores repellat maiores sit et ad, vitae culpa earum?
    </p>
  </div>
</div>
{%endblock %}
